h1
{
color: #5C7A00;
background-color: #B8E62E; 
font-size:4em; 
font-family:helvetica; 
width: 50%;
margin-right:18%;
margin-left:25%; 
}

p
{
	display: inline;
}

p.Intro{
font-size:2.3em; 
margin-right:4%;
margin-left:4%; 
background-color:#FFD685;
font-family:verdana; 
border:ridge;
border-width:15px;
border-color:#E68A5C;
}

p.Names{
margin-top:15%;
color:grey; 
}

p.Instructions{
	margin-left: 0%; 
	font-family:helvetica;
	font-size:1.3em;
	color: #FF6699;
}

#firstA{
	color:#009989;
	background-color:#a0ddee;
	font-size:1.2em;
	margin-top:0px;
	padding-right:38px;
	position:fixed;
	top:16.3%;
}

#first{
	background-color:#ccddee;
	padding:1px;
	position:fixed;
	top:1%;
}

#billboard{
	border-style:solid;
	border-width:9px;
}

#link{
	margin-left:45%;
}

ul{
	list-style-type:none; 
	margin:0;
	padding:0;
	display:inline;
}

#light1{
	background-color:#ccddee;
	padding:1px;
	position:fixed;
	top:1%;
	right:1%;
	}
	
#light1A{
	color:#009989;
	background-color:#a0ddee;
	font-size:1.2em;
	margin-top:0px;
	padding-right:25px;
	position:fixed;
	top:16.3%; 
	right:1%;
	}
	
#light2{
	background-color:#ccddee;
	padding:1px;
	position:fixed;
	top:23%;
	right:1%;
	}
	
#light2A{
	color:#009989;
	background-color:#a0ddee;
	font-size:1.2em;
	margin-top:0px;
	padding-right:25px;
	position:fixed;
	top:38%; 
	right:1%;
	}

body{
	background-color:#FFFFCC;
}

img{
	height: 30px;
}
